@import "normalize.css";

body{
    background-color: #1687A0;
    font-family: Arial, sans-serif;
}
h1{
    color: red;
    text-align: center;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
}

div{
    text-align: center;

}


.input_left{
    display: inline-block;
    padding-left: 9px;
    width: 363px;
    height: 59px;
    margin-bottom: 33px;
    margin-right: 33px; 
}
.input_right{
    display: inline-block;
    padding-left: 9px;
    width: 363px;
    height: 59px;
    margin-bottom: 33px;
     
}

.input_desc{
    margin-bottom: 45px;
    display: inline-block;
    padding-top: 19px;
    padding-left: 9px;
    width: 781px;
    height: 112px;
    
}
.submit{
    width: 173px;
    height: 56px;
    color: white;
    font-family: inherit;
    background-color: #233451;
}


