@import "normalize.css";

body{
    background-color: #1687A0;
}
h1{
    color: red;
    text-align: center;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
}

div{
    text-align: center;

}


.input_left{
    display: inline-block;
    width: 363px;
    height: 59px;
    margin-bottom: 33px;
    margin-right: 33px; 
}
.input_right{
    display: inline-block;
    width: 363px;
    height: 59px;
    margin-bottom: 33px;
     
}

.input_desc{
    margin-bottom: 45px;
    text-align: ;
    display: inline-block;
    width: 771px;
    height: 112px;
    
}
.submit{
    width: 173px;
    height: 56px;
    background-color: #233451;
}


